server:
  port: 9080

spring:
  application:
    name: som-server-modulith
  cloud:
    config:
      import-check:
        enabled: false
  data:
    mongodb:
      database: SOMDB
      uri: mongodb://dragon:27017
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://dragon:8180/realms/Springs%20of%20MUD"

resilience4j:
  circuitbreaker:
    instances:
      mongoAreas:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 5

  retry:
    instances:
      mongoAreas:
        maxAttempts: 3
        waitDuration: 200ms
        exponentialBackoffMultiplier: 2
        retryExceptions:
          - org.springframework.dao.TransientDataAccessException
          - org.springframework.dao.RecoverableDataAccessException
        ignoreExceptions:
          - org.springy.som.modulith.exception.area.InvalidAreaException
          - org.springy.som.modulith.exception.area.AreaNotFoundException

  bulkhead:
    instances:
      mongoAreas:
        maxConcurrentCalls: 50
        maxWaitDuration: 0

som:
  web-security:
    enabled: false