server:
  port: 9080
spring:
  application:
    name: som-server-modulith
  cloud:
    config:
      import-check:
        enabled: false
  data:
    mongodb:
      database: SOMDB
      uri: mongodb://dragon:27017
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://dragon:8180/realms/Springs%20of%20MUD"
resilience4j:
  circuitbreaker:
    instances:
      somAPI:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 5
  retry:
    instances:
      somAPI:
        maxAttempts: 3
        waitDuration: 200ms
        exponentialBackoffMultiplier: 2
        retryExceptions:
          - org.springframework.dao.TransientDataAccessException
          - org.springframework.dao.RecoverableDataAccessException
        ignoreExceptions:
          - org.springy.som.modulith.domain.area.internal.InvalidAreaException
          - org.springy.som.modulith.domain.area.internal.AreaNotFoundException
          - org.springy.som.modulith.domain.character.internal.InvalidPlayerCharacterException
          - org.springy.som.modulith.domain.character.internal.PlayerCharacterNotFoundException
          - org.springy.som.modulith.domain.clazz.internal.InvalidRomClassException
          - org.springy.som.modulith.domain.clazz.internal.RomClassNotFoundException
  bulkhead:
    instances:
      somAPI:
        maxConcurrentCalls: 50
        maxWaitDuration: 0
som:
  som:
    keycloak:
      issuer-uri: "http://dragon:8180/realms/Springs%20of%20MUD"
      refresh:
        skew-seconds: 30
        poll-ms: 5000
        max-attempts: 8
        backoff-ms: 250
  crypto:
    key:
      alias: som-api
      password: ${KEYSTORE_PASSWORD}
    keystore:
      location: "c:\\users\\scott\\som-api-keystore.p12"
      password: ${KEYSTORE_PASSWORD}
  web-security:
    api:
      password: ENC(pFqx++R65V/olr4YB5TaNIw4OJ1rCGebFvuAmybL6KlCmk+QmJWgusgaOinlObUQvsCz/Yy3yDiaroRkEjZHA97Vx7ClzsepSCe8eF9zpwIoMfUX0uGdVw44YUEQzB1+xZ7GKaWnqeZGgeVrO9V6D//fVyS6L3MoIx8zSS4po0ApIvvRFvoRBs3lWFLGvpxdEV4Bz6ej4z/+PiFeO5vANR7Hi+aBOHkPIoMoWr4NX/0xst/pz1FQNtHD3JSkb0h4dEPe+BkxdfTVbG7KwoYb883CosKKlsT4BcA2qGq9FGfJGMW/ovX+Pd6J24KsqauSzXlD58EJJt1QALZDiERCOw==)
    enabled: false